
.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .title_reg{
    text-align: center;
  }
  
  .course-item {
    background-color: #dbd9d9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 179px;
  }
  
  h3 {
    color: #800000; /* Бордовый цвет для заголовков */
  }
  
  p {
    font-size: 1.1em;
    margin: 10px 0;
    color: #333; /* Темно-серый цвет для текста */
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  button {
    background-color: #800000; /* Бордовый цвет для кнопок */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #660000; /* Темнее бордовый при наведении */
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  